.event-nomargin {margin:0}

.event-manage .page-header h3 {
    padding-top: 0;
    margin-top: 0;
}

.event-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.event-single h2 {
    padding: 1px;
    margin: 1px;
}

.event-single img {
    padding-top: 2px;
}

.event-single-body {
    padding-left: 15px;
    padding-right: 15px;
}

.event-single-subtitle {
    font-size: 1em !important;
    font-weight: normal !important;
    color: #6B6B6B;
}

.event-image-main {
    margin-bottom: 25px;
}

.event-single-sidebar .list-unstyled li {
    margin-bottom: 8px;
}

.event-minPrice-title {
    color: #51514F;
    font-size: 1.4em;
}

.event-minPrice-text {
    /* color: #EB4079;  */
    font-size: 1.8em;
    padding: 5px 0px;
    font-weight: 600;
}

.event-offerUrl-btn {
    margin-top: 15px;
}

.event-item-box .thumbnail h3 {
    padding: 0;
    top: 60px;
    position: absolute;
    font-size: 1em;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-right: 25px;
    margin-left: 5px;
}

.event-item-box .thumbnail h3 a {
    color: #fff;
}

.event-item-box .thumbnail h3 a:hover {
    text-decoration: none;
}

/* ribbon */
.item-ribbon {
    position: relative;
    color: #434443;
    display: block;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 13px;
}

.itemBox .item-ribbon {
    display: block;
}

a.item-ribbon:hover {
    color: #434443;
}

.item-ribbon p {
    display: inline;
}

.item-ribbon p span {
    position: absolute;
    display: inline-block;
    right: -50px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2); */
    text-align: center;
    text-transform: none;
    top: 35px;
    background: #FFC107;
    width: 200px;
    padding: 5px 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    z-index:1;
}

/* min price */
.item-price {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(0%, -5%);
    padding: 4px 10px;
    width: auto;
    font-size: 1em;
}

.item-price .item-price-from {
    font-size: 1em;
    font-weight: normal;
}

.item-price .item-price-price {
    font-size: 1.4em;
    font-weight: normal;
}

.item-price .item-price-service {
    font-size: 1em;
    font-weight: normal;
}

/* ajax loading spinner */
.ajax-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    opacity: .8;
}

.ajax-spinner-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

/* Sort */
.event-sort {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #f5f5f5;
}

.eventsort-type {
    cursor: pointer;
}

/* top description*/
.category-width-description {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    right: 0;
    width: 50%;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 4px;
}

.category-width-image {
    margin-bottom: 15px;
}

.event-item-related .center-block {
    float: none;
}


.table.table-striped .btn-success.btn-xs:focus,
.table.table-striped .btn-success.btn-xs {
    padding: 1px 5px;
}

.itemUnderHead{
    margin-bottom:20px;
}

.itemUnderHead:after{
    content:'';
    display:block;
    clear:both;
}

@media screen and (max-width: 991px) {
    .col-xs-3.event-single-image{
        padding-right:0;
    }

    .event-single-main-box iframe{
        max-width:100%;
    }

    .event-single-main-box .iframe-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 51%;
    }

    .event-single-main-box .iframe-wrapper iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; top: 0;
    }
}

.wide-header-content .category-width-description-wrapper,
.wide-header-content .guide-width-description-wrapper{
    position:relative;
}

.wide-header-content .guide-width-description-wrapper .category-width-description,
.wide-header-content .category-width-description-wrapper .guide-width-description,
.wide-header-content .guide-width-description-wrapper .guide-width-description{
    margin-right:15px;
}

#pi-event.userSection .container {
    max-width: none;
    width: auto;
}
.ended {
    color:#EB4079;
    font-weight: 600;
}
.ended span {font-size:16px}

.event-single-sidebar .fa {
    width:14px;
    text-align:center;
}

.add-event {
    padding:4px 15px!important; 
    border-radius:6px!important
}

.page-header h1 {margin:0}
