.event-manage .page-header h3 {
    padding-top: 0;
    margin-top: 0;
}

.event-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.event-single h2 {
    padding: 1px;
    margin: 1px;
}

.event-single img {
    padding-top: 2px;
}

.event-image-main {
    margin-bottom: 25px;
}

.event-single-sidebar .list-unstyled li {
    margin-bottom: 8px;
}

.event-minPrice-title {
	color: #51514F;
	font-size: 1.4em;
}

.event-minPrice-text {
	color: #EB4079;
	font-size: 1.8em;
	padding: 5px 0px;
	font-weight: 600;
}

.event-offerUrl-btn {
	margin-top: 15px;
}