<div class="clearfix pi-item-list">
    <div class="col-xs-12 col-md-3">
        <div class="pi-item-search-form clearfix well well-sm">
            <div class="page-header">
                <h3>{{'SEARCH' | translate}}</h3>
            </div>
            <form id="list-filter" ng-submit="filterAction()">
                <div class="form-group">
                    <label>{{'TITLE' | translate}}</label>
                    <input type="text" class="form-control" ng-model="filter.title" ng-change="filterAction()" ng-model-options="{ debounce: 5000 }">
                </div>
                <div class="form-group">
                    <label>{{'TIME_SELECT' | translate}}</label>
                    <select class="form-control" ng-model="filter.time" ng-change="filterAction()" ng-model-options="{ debounce: 5000 }">
                        <option value="">{{'ALL' | translate}}</option>
                        <option value="thisWeek">{{'TIME_THIS_WEEK' | translate}}</option>
                        <option value="nextWeek">{{'TIME_NEXT_WEEK' | translate}}</option>
                        <option value="thisMonth">{{'TIME_THIS_MONTH' | translate}}</option>
                        <option value="nextMonth">{{'TIME_NEXT_MONTH' | translate}}</option>
                        <option value="nextTwoMonth">{{'TIME_NEXT_TWO_MONTH' | translate}}</option>
                        <option value="nextThreeMonth">{{'TIME_NEXT_THREE_MONTH' | translate}}</option>
                        <option value="nextAllMonth">{{'TIME_NEXT_MONTHS' | translate}}</option>
                        <option value="expired">{{'TIME_NEXT_EXPIRED' | translate}}</option>
                        <option value="active">{{'TIME_NEXT_ACTIVE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group" ng-if="condition.categoryList">
                    <label>{{'CATEGORY' | translate}}</label>
                    <select class="form-control" ng-model="filter.categorySelect" ng-change="filterAction()" ng-model-options="{ debounce: 5000 }">
                        <option ng-repeat="categorySingle in condition.categoryList" value="{{categorySingle.value}}">
                            {{categorySingle.title}}
                        </option>
                    </select>
                </div>
                <div class="form-group" ng-if="condition.locationList">
                    <label>{{'LOCATION' | translate}}</label>
                    <select class="form-control" ng-model="filter.locationSelect" ng-change="filterAction()" ng-model-options="{ debounce: 5000 }">
                        <option ng-repeat="locationSingle in condition.locationList"  value="{{locationSingle.value}}">
                            {{locationSingle.title}}
                        </option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-info" ng-click="filterAction()">
                        <i class="fa fa-search"></i> {{'SEARCH_BTN' | translate}}
                    </button>
                </div>
            </form>
        </div>
        <!-- <div class="clearfix" data-ng-if="condition.description">
            <div class="well small">
                {{condition.description}}
            </div>
        </div> -->
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="clearfix">
            <div class="page-header">
                <h1>{{condition.title}}</h1>
            </div>
            <div ng-show="events.length">
                <div class="row">
                    <div ng-repeat="event in events" class="event-single clearfix h-event" itemscope itemtype="https://schema.org/Event">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 event-single-image">
                                <div class="text-center">
                                    <a itemprop="url" title="{{event.title}}"
                                       data-ng-href="{{event.eventUrl}}">
                                        <img itemprop="image" class="img-responsive img-rounded u-photo center-block"
                                             src="#"
                                             data-ng-src="{{event.thumbUrl}}"
                                             alt="{{event.title}}"/>
                                    </a>
                                </div>
                            </div>
                            <div ng-if="condition.importantOrganizer == 1">
                                <div class="col-xs-12 col-md-7 event-single-body">
                                    <div class="p-name clearfix" itemprop="name">
                                        <h2 class="event-single-title">
                                            <a itemprop="url" title="{{event.title}}"
                                               data-ng-href="{{event.eventUrl}}">
                                                {{event.title}}
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="event-single-information small">
                                        <ul class="clearfix list-inline event-time">
                                            <li data-ng-if="event.time_view">
                                                <i class="fa fa-clock-o"></i> {{event.days}} {{event.time_view}}
                                                <meta data-ng-if="event.time_start_view" itemprop="startDate"
                                                      content="{{event.time_start_view}}"/>
                                                <meta data-ng-if="event.time_end_view" itemprop="endDate"
                                                      content="{{event.time_end_view}}"/>
                                            </li>
                                            <li data-ng-if="event.register_price" class="p-price" itemprop="price"
                                                content="{{event.register_price}}">
                                                <i class="fa fa-money"></i> {{event.register_price_view}}
                                            </li>
                                            <li><i class="fa fa-eye"></i> {{event.hits}}</li>
                                        </ul>
                                        <meta data-ng-if="event.register_price" itemprop="priceCurrency" content="{{event.price_currency}}"/>
                                    </div>
                                    <div class="event-single-summery clearfix p-summary" itemprop="description"
                                         data-ng-if="event.text_summary">
                                        {{event.text_summary}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <div class="event-single-organizer">
                                        {{event.organizer_name}}
                                    </div>
                                </div>
                            </div>
                            <div ng-if="condition.importantOrganizer == 0">
                                <div class="col-xs-12 col-md-9 event-single-body">
                                    <div class="p-name clearfix" itemprop="name">
                                        <h2 class="event-single-title">
                                            <a itemprop="url" title="{{event.title}}"
                                               data-ng-href="{{event.eventUrl}}">
                                                {{event.title}}
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="event-single-information small">
                                        <ul class="clearfix list-inline event-time">
                                            <li data-ng-if="event.time_view">
                                                <i class="fa fa-clock-o"></i> {{event.days}} {{event.time_view}}
                                                <meta data-ng-if="event.time_start_view" itemprop="startDate"
                                                      content="{{event.time_start_view}}"/>
                                                <meta data-ng-if="event.time_end_view" itemprop="endDate"
                                                      content="{{event.time_end_view}}"/>
                                            </li>
                                            <li data-ng-if="event.register_price" class="p-price" itemprop="price"
                                                content="{{event.register_price}}">
                                                <i class="fa fa-money"></i> {{event.register_price_view}}
                                            </li>
                                            <li><i class="fa fa-eye"></i> {{event.hits}}</li>
                                        </ul>
                                        <meta data-ng-if="event.register_price" itemprop="priceCurrency" content="{{event.price_currency}}"/>
                                    </div>
                                    <div class="event-single-summery clearfix p-summary" itemprop="description"
                                         data-ng-if="event.text_summary">
                                        {{event.text_summary}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pi-paginator">
                    <pagination ng-if="paginator.count > paginator.limit"
                                total-items="paginator.count" page="paginator.page" max-size="10"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                boundary-links="true" items-per-page="paginator.limit">
                    </pagination>
                </div>
            </div>
            <div class="alert alert-info" ng-if="!events.length">
                {{'NONE_EVENT' | translate}}
            </div>
        </div>
    </div>
</div>